body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 960px;
  height: 540px;
  box-sizing: border-box;
  display: flex;
  overflow: hidden;
}

#textBlock {
  margin: 0;
  margin-top: 100%;
  width: 100%;
  color: forestgreen;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

p {
  margin: 0;
}

.normal {
  font-size: 4rem;
}

.super {
  display: block;
  font-size: 7rem;
}
